<li>
	<a href="https://scholar.google.com/citations?user=1TBfCsUAAAAJ&hl=en" itemprop="sameAs">
		<i class="ai ai-google-scholar ai-fw"></i> Google Scholar
	</a>
</li>

<li>
	<a href="https://www.researchgate.net/profile/Federico_Fuentes" itemprop="sameAs">
		<i class="ai ai-researchgate ai-fw"></i> ResearchGate
	</a>
</li>

<li>
	<a href="https://arxiv.org/find/math/1/au:+Fuentes_Federico/0/1/0/all/0/1" itemprop="sameAs">
		<i class="ai ai-arxiv ai-fw"></i> arXiv
	</a>
</li>

<li>
	<a href="https://orcid.org/0000-0002-4039-082X" itemprop="sameAs">
		<i class="ai ai-orcid ai-fw"></i> ORCID
	</a>
</li>